<form action="/products/add-product" method="POST" class="form-signin full-width text-center">
  <h1 class="h3 mb-3 font-weight-normal">Add New pproduct Details</h1>
  <label for="product_master_id" class="sr-only">Enter product id</label>
  <input type="number" name="product_master_id" class="form-control" placeholder="Enter product_master_id" required autofocus>
  <label for="category" class="sr-only">Enter category</label>
  <input type="text" name="category" class="form-control" placeholder="Enter category" required>
  <label for="type" class="sr-only">Enter type</label>
  <input type="text" name="type" class="form-control" placeholder="Enter type" required>
  <label for="brand" class="sr-only">Enter brand</label>
  <input type="text" name="brand" class="form-control" placeholder="Enter brand" required>
  <label for="product_name" class="sr-only">Enter product_name</label>
  <input type="text" name="product_name" class="form-control" placeholder="Enter product_name" required>
  <label for="color" class="sr-only">Enter color</label>
  <input type="text" name="color" class="form-control" placeholder="Enter color" required>
   <label for="size" class="sr-only">Enter size</label>
  <input type="text" name="size" class="form-control" placeholder="Enter size" required>
   <label for="weight" class="sr-only">Enter weight</label>
  <input type="text" name="weight" class="form-control" placeholder="Enter weight" required>
   <label for="specific_details" class="sr-only">Enter specific_details</label>
  <input type="text" name="specific_details" class="form-control" placeholder="Enter specific_details" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Add New Product</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
</form>
