<form action="/products/delete-product" method="post" class="form-signin full-width text-center">
  <h1 class="h3 mb-3 font-weight-normal">Delete Products Record</h1>
  <label for="product_master_id" class="sr-only">Enter Product id</label>
  <input type="number" name="product_master_id" class="form-control" placeholder="Enter product_master_id" required autofocus>  
  <button class="btn btn-lg btn-primary btn-block" type="submit">Delete Product</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
</form>