<form action="/products/get-all-products" method="get" class="form-signin full-width text-center">
  <h1 style="text-align: center;">Product Management Module</h1>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Get All Products</button>
  <button class="btn btn-lg btn-primary btn-block" type="submit" formaction="/products/get-product">Get Product By Id</button>
  <button class="btn btn-lg btn-primary btn-block" type="submit" formaction="/products/add-product">Add product</button>
  <button class="btn btn-lg btn-primary btn-block" type="submit" formaction="/products/update-product">Update Product</button>
  <button class="btn btn-lg btn-primary btn-block" type="submit" formaction="/products/delete-product">Delete Product</button>
</form>